language: python
python:
  - 3.6
services:
  - docker
install:
  - pip install -r requirements-test.txt
  - docker build -t max-named-entity-tagger .
  - docker run -it -d --rm -p 5000:5000 max-named-entity-tagger
before_script:
  - flake8 . --max-line-length=127
  - sleep 30
script:
  - pytest tests/test.py
